a {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #ce0606;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

/* Non-Demo Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: bisque;
}